div.profile .profile-content {
  width: 476px;
}
.profile #profile-bevel {
  opacity: 0.68;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=68)";/*ie8*/
  filter: alpha(opacity=68);/*ie7*/
}
.profile div.profile-head h1.name {
  font-family: 'Antic', sans-serif;
  font-size: 80px;
  color: #FFF;
}
.profile div.profile-head h2.headline {
  font-family: 'Antic', sans-serif;
  font-size: 22px;
  color: #FFF;
}
.profile div.profile_photo {
  padding-top: 4.0px;
}
.profile div.bio {
  font-family: 'Antic', sans-serif;
  font-size: 14px;
  color: #FFF;
}
.profile div.bio p {
  /* margin-bottom: 21.0px; */
}
.profile div.bio a {
  color: #2B82AD;
}
.profile div.services {
  color: #FFF;
}
.profile ul.links {
  font-family: 'Antic', sans-serif;
  font-size: 14px;
  padding: 0 20px 20px 20px;
  height: 39px;
}
.profile ul.links li {
  float: left;
  margin-right: 5px;
}
.profile ul.links a {
  color: #2B82AD;
}
.profile ul.links a.network {
  display: block;
  padding: 39px 0 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 0px !important;
  width: 40px;
  height /**/: 39px;
}
.profile ul.links a.twitter {
  background: url('../img/network_sprite.png') 0 40px;
}
.profile ul.links a.twitter:hover {
  background: url('../img/network_sprite.png') 0 0;
}
.profile ul.links a.github {
  background: url('../img/network_sprite.png') 80px 40px;
}
.profile ul.links a.github:hover {
  background: url('../img/network_sprite.png') 80px 0;
}
.profile ul.links a.drupal {
  background: url('../img/network_sprite.png') 40px 40px;
}
.profile ul.links a.drupal:hover {
  background: url('../img/network_sprite.png') 40px 0;
}
body.profilepage {
  background-color: #000;
}
/*tiled*/
.profilepage .background-container {
  background-image: url(../img/main.jpg);
}

