div.profile {
  left: 22%;
}

div.profile .profile-content {
  width: 791px;
}
.profile #profile-bevel {
  opacity: 0.68;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=68)";/*ie8*/
  filter: alpha(opacity=68);/*ie7*/
}
.profile div.profile-head h1.name {
  font-family: 'Antic', sans-serif;
  font-size: 40px;
  color: #FFF;
}
.profile div.profile-head h2.headline {
  font-family: 'Antic', sans-serif;
  font-size: 22px;
  color: #FFF;
}
.profile div.profile_photo {
  padding-top: 4.0px;
}
.profile div.bio {
  font-family: 'Antic', sans-serif;
  font-size: 14px;
  color: #FFF;
}
.profile div.bio p {
  /* margin-bottom: 21.0px; */
}
.profile div.bio a {
  color: #2B82AD;
}
.profile div.services {
  color: #FFF;
}
.profile ul.links {
  font-family: 'Antic', sans-serif;
  font-size: 14px;
}
.profile ul.links a {
  color: #2B82AD;
}
body.profilepage {
  background-color: #000;
}
/*tiled*/
.profilepage .background-container {
  background-image: url(../img/resume.jpg);
}

